{% extends "base.html" %}
{% block content %}

<h2 style="margin-bottom:20px;">Partner Hospitals</h2>

<div class="card">

<table style="width:100%; border-collapse:collapse;">

    <tr style="background-color:#ffe5ec;">
        <th style="padding:12px;">ID</th>
        <th style="padding:12px;">Hospital Name</th>
        <th style="padding:12px;">District</th>
        <th style="padding:12px;">Phone</th>
        <th style="padding:12px;">Location</th>
    </tr>

    {% for hospital in hospitals %}
    <tr style="text-align:center; border-top:1px solid #eee;">
        <td style="padding:10px;">{{ hospital[0] }}</td>
        <td style="padding:10px;">{{ hospital[1] }}</td>
        <td style="padding:10px;">{{ hospital[2] }}</td>
        <td style="padding:10px;">{{ hospital[3] }}</td>
        <td style="padding:10px;">{{ hospital[4] }}</td>
    </tr>
    {% endfor %}

</table>

</div>

{% endblock %}